.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 40vh;
    background: #404040;
    border-radius: 35px;
    color: #fff;
}

.card-input {
    border-radius: 5px;
    margin-bottom: 20px;
}

.create-account {
    margin-top: 20px;
    text-align: center;
}

.create-account a {
    color: #fff;
}

.card input[type="submit"] {
    cursor: pointer;
}
