:root {
    --text-color: #000;
    --background-color: #fff;
    --header-background-color: #343434;
    --header-text-color: #aaaaaa;
    --header-text-color-hover: #ffffff;
    --transition-time: .3s;
    --contact-button-bg: #000;
    --contact-button-text-color: #fff;
    --blue-green-gradient-vertical: -webkit-linear-gradient(#07C3F2, #21D789);
    --animation-transition-time: .5s;
}

header {
    height: 5vh;
    overflow: hidden;
    padding: 1vh 3vw;
    background-color: var(--header-background-color);
    transition: var(--transition-time);
}

.header-home {
    width: 32px;
    float: left;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    transition: var(--transition-time);
}

.header-home:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.header-right {
    float: right;
}

.toggle {
    display: none;
    cursor: pointer;
}

.smooth-underline {
    display: inline-block;
}

.smooth-underline::after {
    content: '';
    width: 0px;
    display: block;
    transition: var(--transition-time);
}

.smooth-underline:hover::after {
    width: 100%;
}

.header-right .smooth-underline::after {
    background: var(--header-text-color-hover);
    height: 2px;
}

.header-right .smooth-underline:hover {
    color: var(--header-text-color-hover);
}

.header-right a {
    color: var(--header-text-color);
    text-decoration: none;
    font-size: 18px;
    transition: var(--transition-time);
    margin-left: 50px;
}

.gradient-text {
    background: var(--blue-green-gradient-vertical);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.searchbar {
    background-color: #fff;
    border: 0;
    border-radius: 10px;
}

.searchbar-submit {
    border: 0;
    border-radius: 10px;
}
