.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vw;
    padding: 50px 0;
    background: #404040;
    border-radius: 35px;
    color: #fff;
}

.card-input {
    border-radius: 5px;
    margin-bottom: 20px;
}

.card input[type="submit"] {
    cursor: pointer;
}

.bounding-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
