<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/poll-get.css">
    <title>{{.Topic}}</title>
</head>
<body>
    <header>
        <form action="/search" method="GET" style="float: left; width: 30%; margin: 0 auto;">
            <input class="searchbar" type="text" name="query" placeholder="Поиск...">
            <input class="searchbar-submit" type="submit" value="Найти">
        </form>
        <div class="header-right">
            <a class="smooth-underline" href="/profile">Профиль</a>
            <a class="smooth-underline" href="/">В тренде</a>
            <a class="smooth-underline" href="/polls/my?p=1">Мои опросы</a>
            <a class="smooth-underline" href="/polls/new">Создать опрос</a>
        </div>
    </header>
    <div class="title">Опрос от <a href="/profile/{{.UserID}}">@{{.Username}}</a></div>
    <div class="content-container">
        <form method="POST" action="/polls/{{.PollID}}/vote">
            <div class="card" id="card">
                <div class="topic">{{.Topic}}</div>
                {{if .IsAnonymous}}
                <div style="font-size: 18px;">Анонимный опрос</div>
                {{end}}
                {{if not .RevoteAbility}}
                <div style="font-size: 18px;">Переголосовать нельзя</div>
                {{end}}

                {{ define "inc" }}{{ len (printf "%*s " . "") }}{{ end -}}

                {{if .CurrentUserVoted}}
                {{range $index, $opt := .Options}}
                <div class="option">
                    {{$opt.Option}} ({{$opt.VotesNumber}} голосов)
                    <label>
                        {{if $.MultipleChoice}}
                        <input type="checkbox" name="votes" value="{{template "inc" $index}}"
                        {{if  index $.CurrentUserVotes $index}}
                        checked
                        {{end}}
                        disabled>

                        {{else}}
                        <input type="radio" name="votes" value="{{template "inc" $index}}"
                        {{if index $.CurrentUserVotes $index}}
                        checked
                        {{end}}
                        disabled>
                        {{end}}
                    </label>
                </div>
                {{end}}
                {{else}}
                {{range $index, $opt := .Options}}
                <div class="option">
                    {{if .CurrentUserVoted}}
                    {{$opt.Option}} ({{$opt.VotesNumber}} голосов)
                    {{else}}
                    {{$opt.Option}}
                    {{end}}
                    <label>
                        {{if $.MultipleChoice}}
                        <input type="checkbox" name="votes" value="{{template "inc" $index}}">
                        {{else}}
                        <input type="radio" name="votes" value="{{template "inc" $index}}">
                        {{end}}
                    </label>
                </div>
                {{end}}
                <input type="submit" name="submit" value="Проголосовать">
                {{end}}
            </div>
        </form>
    </div>
</body>
</html>